pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.idea/
.vscode/
.clj-kondo/
.lsp/
.DS_Store
Thumbs.db
*.log
*.iml
*.swp
*.swo
profiles.clj
docs/
